<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>10 March 2021</p><h1>

<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

In [2]:
jan = mar = may = july = aug = octc = dec = 31
apr = jun = sep = nov = 30
feb = 28

In [1]:
<img src=“https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr” class=“img-fluid” alt=“CLRWY” width=“400" height=“200”>

SyntaxError: invalid syntax (<ipython-input-1-378c884494a8>, line 1)

In [ ]:
year = input("Please enter a 4-digit year: ")
if not(int(year) % 4) and (int(year)%100) or not(int(year) % 400):
    print(year, "is leap year")
else:
    print(year, "is not a leap year")

In [3]:
print(jan, feb, mar, apr, may, jun, july, aug, sep, octc, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [5]:
x = y = 12

In [6]:
print(x)

12

In [7]:
print(y)

12

In [8]:
x = 11
y = 12
z = 13
x = 14
z = 15
x = 16

In [9]:
print(x, y, z)

16 12 15

In [10]:
print(x, "ahmet", z, "dünya", 11)

16 ahmet 15 dünya 11

In [11]:
x = "ahmet"

In [13]:
z
y
x

'ahmet'

In [14]:
print(x)

ahmet

In [17]:
a, b, c = 1, "clarusway"

ValueError: not enough values to unpack (expected 3, got 2)

In [18]:
my_text = 'being a good person'
print(my_text)

being a good person

In [19]:
new_text = "being a good person"

In [20]:
new_text

'being a good person'

In [21]:
xx = "123 ,!% * ahmet selvi"

In [22]:
print(xx)

123 ,!% * ahmet selvi

In [23]:
type(xx)

str

In [24]:
print("joseph@clarusway.com")

joseph@clarusway.com

In [25]:
print(632)

632

In [26]:
print("632")

632

In [27]:
type(632)

int

In [28]:
type("632")

str

In [29]:
doğru = True

In [30]:
yanlış = False

In [31]:
type(doğru)

bool

In [32]:
type(yanlış)

bool

In [33]:
str(True)

'True'

In [34]:
pi = 3.14  

converted_pi = str(pi)
print(converted_pi)  
print(type(converted_pi))

3.14
<class 'str'>

In [35]:
str(pi)

'3.14'

In [36]:
int(3.6)

3

In [37]:
int(3.9)

3

In [45]:
int("104")

104

In [46]:
type("104")

str

In [47]:
b = "11"

In [50]:
type(int(b))

int

In [54]:
int(b)

11

In [49]:
type(b)

str

In [51]:
c = int(b)

In [52]:
c

11

In [53]:
type(c)

int

In [56]:
float("2.5")

2.5

In [58]:
3 + int("3")

6

In [59]:
str(3) + "3"

'33'

In [60]:
3 + float("3")

6.0