In [1]:
a = [1,2,3,4,5,6,11]

In [2]:
b = []
b.append(10)
b.append(20)
print(b)

[10, 20]

In [3]:
c = []
for x in a:
    c.append(x*2)
print(c)

[2, 4, 6, 8, 10, 12, 22]

In [4]:
d = [x*2 for x in a]
print(d)

[2, 4, 6, 8, 10, 12, 22]

In [7]:
el= [x**2 for x in range(1,7)]
print(el)

[1, 4, 9, 16, 25, 36]

In [8]:
l= [x**2 for x in range(6,0,-1)]
print(l)

[36, 25, 16, 9, 4, 1]

In [9]:
print([x**2 for x in range(6,0,-1)])

[36, 25, 16, 9, 4, 1]

In [14]:
f1 = []
for x in range(6,0,-1):
    f1.append(x**2)
print(f1)

[36, 25, 16, 9, 4, 1]